.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #333;
  color: #fff;
  height: 80px;
}

.content {
  flex-grow: 1;
  overflow-y: auto; /* Add overflow-y property */
  margin-left: 40px;
}

.app-footer {
  background-color: #333;
  color: #fff;
  height: 60px;
  flex-shrink: 0; /* Prevent footer from shrinking */
}
