$blue_dark: #182871;
$border_color: #53565a;
$button_errbg: #c4001a;
$white_color: #fff;
$red_color: #ff0202;

$font-family-medium: 'Abc Novum Medium', sans-serif;
$font-family-regular: 'Abc Novum', sans-serif;
$font-family-bradpro: 'Abc Broad Pro', sans-serif;

$button_bg: #004fbc;
$border_bg1: #a8a8a8;
$menu_txt_color: #2e2e2e;
$text_color: #53565a;
$black_color: #000;
$body_bg: #efefef;
$border_bg: #e2e2e2;
$card_bg: #fff;
$select_borderclr: #a8a8a8;
$sidenav_txt_color: #deecff;
$sidenav_txt_color_active: #0051c3;
$black_color: #000;
$card_bg1: #e1dfdd;
$gray_medium: #bcbcbc;
$row_border: #ddd;
$active_menu_clr: #0a408a;
$toggle_slider_clr: #55bb34;
$toggle_slider_thumb_clr: #47962d;
$active_row_clr: #f7f6f6;
