.error {
  background-color: #f44336;
  color: white;
}

.success {
  background-color: #4caf50;
  color: white;
}

.warning {
  background-color: #ff9800;
  color: white;
}

.info {
  background-color: #2196f3;
  color: white;
}

.default {
  background-color: #494848;
  color: white;
}
